.locationView {
  // background-image: url('../../../images/picture/BG-JES-01.png');
  // background-size: cover;
  // background-position: bottom;
  // min-height: 90vh;
  // .mycontainer {
  //     padding: 0 200px;
  // }
  &_heading {
    margin: 20px 0;
    color: green;
    font-size: 25px;
    font-weight: 700;
  }
  &_main {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 2fr 2fr;
    margin-top: 20px;
    // padding: 0px 100px;
  }
  &_left {
    width: 100%;
  }
  &_card {
    position: relative;
    background-color: rgb(153, 224, 165);
    width: 100%;
    height: 300px;
    margin: 40px 0;
    border-radius: 10px;
  }
  &_date {
    width: 46px;
    position: absolute;
    font-size: 12px;
    top: 17px;
    left: 27px;
    img {
      width: 100%;
    }
  }
  &_like {
    width: 76px;
    height: 36px;
    margin-top: 5px;
  }
  &_heart {
    position: absolute;
    width: 50px;
    right: 20px;
    top: 160px;
  }
  &_location1 {
    position: absolute;
    width: 50px;
    right: 15px;
    top: 35%;
  }
  &_bottom {
    position: absolute;
    background-image: linear-gradient(
      to bottom,
      rgba(45, 180, 92, 0.09),
      rgb(201 194 194 / 50%)
    );
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    color: #fff;
    border-radius: 10px;
    .loc {
      width: 15px;
    }
    .heading {
      font-weight: 600;
      font-size: 19px;
      margin-bottom: 3px;
      color: rgb(235, 235, 235);
    }
  }
  &_bottomg {
    position: absolute;
    background-image: linear-gradient(
      to bottom,
      rgb(45 180 92 / 9%),
      rgb(45 180 92)
    );
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    color: #fff;
    border-radius: 10px;
    height: 60px;
  }
  &_star {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 26px;
    position: absolute;
    right: 22px;
    top: 10px;
    padding: 7px 10px;
    img {
      width: 20px;
    }
    p {
      font-size: 12px;
      margin: 0 10px;
      color: gray;
      margin-top: 4px;
    }
  }
  &_likeNo {
    position: absolute;
    right: 27px;
    top: 25px;
    font-size: 12px;
    color: #fff;
  }
  &_gallery {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    // grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    img {
      width: 100%;
      border-radius: 20px;
      height: 76px;
    }
  }
  &_green {
    position: relative;
    background-color: #287e57;
    border-radius: 20px;
    img {
      opacity: 0.2;
    }
    p {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      top: 50%;
      font-size: 23px;
      color: #fff;
    }
  }
  &_right {
    margin: 40px;
    background-image: linear-gradient(#ffffff, #cfebd8);
    border-radius: 120px 0 0 0;
  }
  &_pattern {
    position: relative;
    img {
      width: 100%;
      height: 170px;
    }
  }
  &_tabs {
    display: flex;
    justify-content: center;
    position: absolute;
    gap: 40px;
    top: 31px;
    width: 60%;
    left: 50%;
    border-bottom: 1px solid rgb(150, 150, 150);
    transform: translate(-50%, -50%);
    p {
      color: gray;
      font-weight: 500;
      cursor: pointer;
    }
    .active {
      border-bottom: 2px solid lightgreen;
    }
  }
  &_reviewSection {
    height: 300px;
    overflow: auto;
    margin-top: -40px;
  }
  &_singleReview {
    border-bottom: 1px solid #c2c2c2;
    margin: 0px 40px 15px 40px;
    .comment {
      color: gray;
      font-size: 11px;
      margin: 10px 0;
    }
  }
  &_review {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &_user {
    display: flex;
    img {
      width: 40px;
      border-radius: 50%;
      margin-right: 20px;
    }
  }
  &_stars {
    .name {
      color: lightgreen;
      font-weight: 600;
    }
    .cMkWlf {
      padding: 0 !important;
    }
  }
  &_your {
    margin: 0px 40px 15px 40px;
    background-color: #fff;
    padding: 10px;
    input {
      width: 100%;
      margin: 10px 0;
      border: none;
      background: #cfebd8;
      padding: 15px 12px;
      border-radius: 5px;
      font-size: 14px;
      outline: none;
    }
  }
  &_inputComment {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    align-items: center;
    .cMkWlf {
      padding: 0 !important;
    }
    .name {
      color: gray;
      font-weight: 600;
      font-size: 14px;
    }
  }
  &_btn {
    text-align: center;
    button {
      margin: auto;
      width: 85%;
      border: none;
      border-radius: 5px;
      padding: 12px 0;
      box-shadow: 0 0 15px rgb(0 0 0 / 15%);
      font-size: 14px;
      text-align: center;
      text-decoration: none;
      background: #1bb752;
      color: #fff;
      margin-bottom: 20px;
    }
  }
  // &_top {
  //     margin: 40px 0;
  //     display: flex;
  //     align-items: center;
  //     img {
  //         width: 24px;
  //     }
  //     p {
  //         color: $lightgreen;
  //         font-size: 18px;
  //         font-weight: 700;
  //         margin-left: 20px;
  //         text-transform: uppercase;
  //     }
  //}

  &_selector1 {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 30px;
    width: 100%;

    p {
      font-weight: 700;
      color: grey;
      cursor: pointer;
    }
  }

  &_wrapper {
    border-bottom: 1px solid #d7d7d7;
    width: 80%;
    display: flex;
    // justify-content: space-around;
    // padding: 10px 20px 0px 20px;

    p {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  &_active {
    border-bottom: 2px solid green;
  }
}

.events_date_rightAlign {
  background: #0f633b;
  width: 55px;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0 0 0 9px;
  text-align: center;
  color: #f0f0f0;
  position: absolute;
  font-size: 12px;
  top: -11px;
  right: 20px;
}

.events_date_rightAlign p {
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 4px;
}

.events_date_rightAlign div {
  margin-top: 4px;
  padding-top: 4px;
}

@media (max-width: 407px) {
  .locationView {
    &_right {
      margin: 40px 0 0 0;
      // margin: 0 !important;
    }
  }
}
@media (max-width: 1024px) {
  .locationView {
    .mycontainer {
      padding: 0 10px !important;
    }
    &_main {
      grid-template-columns: 1fr;
    }
    &_card {
      height: 250px;
    }
    &_heart {
      top: 56%;
    }
    &_sliderWrapper {
      width: 100%;
    }
    // &_gallery {
    //     img {
    //         width: 100%;
    //     }
    // }
  }
  .eventdetail_right {
    margin-left: 0;
  }
}
// @media (max-width: 1300px) {
//     .mycontainer {
//         padding: 0 100px !important;
//     }
// }

.customerRatingCard {
  border-bottom: 1px solid #999;
  margin-top: 25px;
}

.eventdetail {
  margin-top: 40px;
  background: #fff;
  &_right {
    margin-left: 20px;
  }
  &_mains {
    padding: 20px 50px;
    height: 500px;
    overflow-y: scroll;
    position: relative;
  }

  &_mains::-webkit-scrollbar {
    display: none;
  }

  &_loc {
    color: #1bb752;
    img {
      height: 15px;
      margin-right: 5px;
    }
  }
  &_title {
    color: rgb(102, 102, 102);
    font-size: 20px;
    font-weight: 600;
  }
  &_top1 {
    position: relative;
  }
  &_heading {
    color: #1bb752;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  &_text {
    font-size: 12px;
    color: gray;
    margin-bottom: 50px;
  }
  &_time {
    display: flex;
    margin: 20px 0;
    img {
      width: 52px;
      height: 52px;
      margin-right: 20px;
    }
    .opening {
      margin-right: 30px;
    }
  }
  &_name {
    color: gray;
    font-size: 15px;
  }
  &_value {
    color: #1bb752;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  &_btn {
    text-align: center;
    button {
      margin: auto;
      width: 100%;
      border: none;
      border-radius: 5px;
      padding: 12px 0;
      box-shadow: 0 0 15px rgb(0 0 0 / 15%);
      font-size: 14px;
      text-align: center;
      text-decoration: none;
      background: #1bb752;
      color: #fff;
      margin-bottom: 20px;
    }
  }

  // Card

  .userDetailCard {
    max-width: 400px;

    &_navIcon {
      position: absolute;
      right: 25px;
      top: 50px;
      width: 10px;
      height: 20px;
      cursor: pointer;
    }

    &_full {
      position: relative;
    }

    &_logo {
      position: relative;

      .heart {
        position: absolute;
        bottom: 0px;
        width: 25px;
        right: 0px;
        border-radius: 50%;
      }
    }
  }
}
